html{
    scroll-snap-type: y mandatory;
}

.app{
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    color: white;
    display: grid;
    place-items: center;
    
}

.app__videos{
    position: relative;
    height: 800px;
    border-radius: 20px;
    overflow: scroll;
    width: 80%;
    max-width: 500px;
    scroll-snap-type: y mandatory;

}

.app__videos::-webkit-scrollbar{
    display: none;      /* Chrome, Safari, Opera */
}

.app__videos{
    -ms-overflow-style: none;       /* IE and Edge */
    scrollbar-width: none;          /*Firefox*/
}